[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[user]
	email = tnunamak@gmail.com
	name = Tim Nunamaker
	signingkey = /home/tnunamak/.ssh/id_rsa.pub
[core]
	editor = vi
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[gpg]
	format = ssh
[commit]
	gpgsign = true
